#contato{
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 590px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#titulos{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#titulos h1 {

    color: #000;
    font-weight: normal;
    font-size: 33px;

}

#titulos h2 {

    color: #707070;
    font-weight: 300;
    font-size: 25px;

}

#contato_content{

    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#contato_content_e{

    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
    

}

#contato_content_e form{
    
    display: flex;
    flex-direction:column;
    font-weight: 600;
    color: #707070;
    font-size: 18px;
}

#contato_content_e form input{
    border: 1px solid #707070;
    border-radius: 7px;
    font-size: 18px;
    width: 350px;
    
}
#contato_content_e form button{
    margin-top: 8px;
    margin-bottom: 4px;
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    display: inline-block;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.05rem 8rem;
    font-size: 16px;
    border-radius: 199px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
}

#contato_content_e form button:hover{

    color: rgb(255, 255, 255);
    background-color: #707070;
    border-color: #707070;

}



#contato_content_d{

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#titulo{
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    color: #000;
}

#dados{

    font-weight: 300;
    font-size: 15px;
    color: #707070;

}

#mensagem{
    border: 1px solid #707070;
    border-radius: 7px;
    resize: none;
}