Body{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color:#fff;
}

#inicio{
    display: flex;
    position: relative;
    width: 100vw;
    height: 91.5vh;
}

#head{
    display:flex;
    position: absolute;
    width: 100vw;
    height: 8.5vh;
    background: #000000;
    

}

#head img{

    padding: 5px 10px 5px 1060px;

}

#banner{

    
    display:flex;
    align-items: center;
    width: 100vw;
    margin-top: 8.5vh;
    height: 91.5vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#banner-content{
    width: 100%;
    height: 540px;
    display: flex;
    flex-direction: column;
    font-weight: normal;
    color: #fff;
    font-size: 45px;
    align-items: center;
    justify-content: center;

}

#banner-content p{
    padding: 10px;
}

#banner-content button{
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.05rem 5rem;
    font-size: 30px;
    border-radius: 199px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  #banner-content button:hover{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-color: #ffffff;
  }